.trabajos1 {
    display: flex;
    justify-content: space-around;
    background-color: grey;
}

#main {
    background-color: gray;
}
#experiencia {
    background-image: ;
}
#p1 {
    padding: 5px;
    margin-left: 10px;
    background-image:var(assets/imgs/currículum.png)
}
#footer {
    background-color: black;
    color: white;
    height: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.fondo {
    background-image: url(assets/imgs/mibice.png);
    height: 50;
    width: 50;
}