.trabajos1 {
    display: flex;
    justify-content: space-around;
    background-color: grey;
}

#main {
    background-color: gray;
}
#experiencia {
    background-image: ;
}
#p1 {
    padding: 5px;
    margin-left: 10px;
    background-image: url(assets/imgs/currículum.png);
}